*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holecontent{
    text-align: center;
     /* margin-top: 50px; */
    /* padding-left:300px;  */
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 55vh;
    display: flex;
    /* background-color: beige; */
    /* justify-content: center; */
    position: relative;
    /* align-items: center; */
    overflow: hidden;
    
}
section:before{
    content: '';
    position: absolute;
    top: 0;
    left :0;
    width: 100%;
    height:100%;
    background-color: rgb(2, 2, 69);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scalex(1.5);
    /* clip-path: polygon(100% 0 ); */
}
section .heading{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    /* text-align: center; */

}
 section .heading h4{
    color:white;
    font-size: 2rem;
    margin-left: -1140px;
    padding-top: 20px;
}
section .heading h5{
    text-decoration:  underline rgb(43, 242, 16) ;
    text-underline-offset: 15px;
    
    color: white;
    margin-top: -22px;
    font-size: 25px;
    padding-left: 700px;
     }
 section .heading h1{
    color: white;
    font-size: 50px;
    line-height: 45px;
    margin-top: 75px;
 }
 u{
text-decoration: underline  rgb(43, 242, 16);

 }
button{
    margin-top: 40px;
    border: none;
    height: 40px;
    width: 30%;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(53, 217, 53);
}

.home1{
background-color: rgb(225, 225, 215);
    max-height: 100vh; 
    border-bottom-right-radius:20%;
    border-bottom-left-radius: 20%;
}
.body1{
    /* justify-content: space-between; */
display: none;
margin: 16px;
    /* position: relative; */
    /* padding-top: 500px; */
    width: 100%;
    height: 100vh;
    overflow: hidden ;
    justify-content: center;
    gap: 20px;
    text-align: center;
    z-index: 1;
    /* max-width:  1000px; */
}
.one{ 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(243, 242, 242);
    margin-left: 100px;
    margin-top: 10px;
    border: 1px solid gray;
    
}
.one h2{
    padding-top: 11px;
}
.par1 h1{
    /* line-height: 10px; */
    font-size: 42px;
    margin-top: 20px;
}
.par1 p{
    margin-top:25x ;
    padding-top: 22px;
    font-size: 21px;
    line-height: 24px;
}
.par2{
 background-color: rgb(4, 4, 90); 
 width: 30%;  
}
.body2{
    

    /* background-color: aqua; */
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* margin-top: -440px; */
}
 .image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 200px;
}
.par2{
    position: absolute;
    height: 280px;
    width: 60%;
    margin-top: 200px;
    margin-left: 500px;
}
.par2 h1{
    color: white;
    padding: 20px;
    font-size: 40px;
}
.par2 p{
    color: white;
    font-size: 22px;
    padding-left: 20px;
}
footer{
    line-height: 50px;
    margin-top: 40PX;
    font-size: 30px;
}
footer h3{

}
